/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}


.custom-cursor {
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    display: none;
    /* 使用transform来移动光标，避免重排 */
    transform: translate(-50%, -50%);
    will-change: transform; /* 提示浏览器该元素将会被变换，以便优化 */
}

/* 移动端隐藏自定义光标 */
@media (pointer: coarse) {
  .custom-cursor {
    display: none !important;
  }
}
